
  <footer class="black-section" id="footer">
    <div class="container-fluid container-fluid-learnmore">

<a href="https://m.facebook.com/Coin_Money_Crypto-109208471418521/">
      <i class="social-icon fab fa-facebook-f fa-2x"></i>
</a>
<a href="https://twitter.com/AKV13908477">
      <i class="social-icon fab fa-twitter fa-2x"></i>
</a>
<a href="https://www.instagram.com/coin_money_crypto/">
      <i class="social-icon fab fa-instagram fa-2x"></i>
</a>
<p>Tel: +91 8476059827<br>
Email: aayushvermaakv@gmail.com<p>
      <p>&copy; 2022 coinmoneycrypto. All rights reserved.</p>
      <p class="disc"><u>Disclaimer</u>: Trading in cryptocurrencies are subject to market, technical and regulatory risks. The prices fluctuate based on market demand and supply.</p>
<br><br>
      <p>Designed & developed by AAYUSH VERMA pursuing bachelor's of technology degree in computer science and Engineering from Gurukul Kangri University</p>

    </div>
  </footer>


</body>

</html>
