<%- include('partials/header') %>

<div class="container-fluid logo-style">
<img src="images/btc.png" alt="btc" height="200rem" width="200rem">
  <h1 class="big-heading">coinmoneycrypto</h1>
</div>

<div class="container mt-5 login">
  <h1 class="logHeading"><i class="fas fa-user"></i>&nbsp;Login to coinmoneycrypto</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">


          <div class="google-btncol-sm-4">
            <div class="social-block">
              <div class="google-btn">
                <a class="btn btn btn-danger" href="/auth/google" role="button">
                  <i class="fab fa-google"></i>
                  SIGN IN WITH GOOGLE
                </a>
              </div>
            </div>
          </div>

          <!-- Makes POST request to /login route -->
          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <table class="reg-table">



                <tr>
                  <td class="reg-th"><label for="email">E-Mail Address : <span class="imp">*</span></label></td>
                  <td class="reg-td"><input type="email" class="form-control" name="username" placeholder="abc@email.com" id="emailadd" required></td>
                </tr>

                <tr>
                  <td class="reg-th"><label for="password">Password : <span class="imp">*</span></label></td>
                  <td class="reg-td"><input type="password" class="form-control" name="password" id="pass" required></td>
                </tr>

              </table>
            </div>
            <div class="button-submit ">
              <button type="submit" class="btn btn-success register-button">CLICK HERE TO LOGIN</button>
            </div>

          </form>

        </div>
      </div>
    </div>



  </div>
</div>

<div class="container-fluid disclaimer">
  <p>No Investment Advice:
The information provided on this website does not constitute investment advice, financial advice, trading advice, or any
 other sort of advice and you should not treat any of the website's content as such. coinmoneycrypto does not recommend
  that any cryptocurrency should be bought, sold, or held by you. Do conduct your own due diligence and consult your
   financial advisor before making any investment decisions.
Trading cryptocurrencies carries a high level of risk, and may not be suitable for all investors. Before deciding to
trade cryptocurrency you should carefully consider your investment objectives, level of experience, and risk appetite.
The possibility exists that you could sustain a loss of some or all of your initial investment and therefore you should
 not invest money that you cannot afford to lose. You should be aware of all the risks associated with cryptocurrency
 trading, and seek advice from an independent financial advisor.</p>
</div>


<%- include('partials/footer') %>
