<%- include('partials/header') %>
<!-- above line is used to add header partial in this file -->

<section class="colored-section" id="title">

  <div class="container-fluid">

    <!-- Nav Bar -->

    <nav class="navbar navbar-expand-lg navbar-dark">

      <a class="navbar-brand border-brand-heading" href="">coinmoneycrypto</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">

            <a class="nav-link" href="#rtc">Real-time stats </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricing">Trade</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer">Contact us </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
        </ul>

      </div>
    </nav>


    <!-- Title -->

    <div class="row">

      <div class="col-lg-6">
        <h1 class="big-heading">Get More From Life With Cryptocurrency.</h1><br>
        <h3 class="orange-heading">WHY TRADE IN CRYPTO?</h3><br>
        <h5>Cryptocurrencies are what stocks were centuries ago; they are the new-age
          asset class growing at a pace never seen before. Having successfully
          surpassed almost all trading instruments in terms of returns, they are on their
          way to becoming the go-to asset class, with around 10 lakh Indians trading in
          Cryptocurrencies. Start your trading journey now!</h5>


        <a href="learnmore">
          <button type="button" class="btn btn-dark btn-lg download-button"><i class="fas fa-question-circle"></i></i> Learn more</button>
        </a>
        <a href="#cta">
          <button type="button" class="btn btn-light btn-lg download-button"><i class="fab fa-bitcoin"></i></i> Get started</button>
        </a>
        <a href="https://coinmoneycrypto-df.herokuapp.com/">
          <button type="button" class="btn btn-outline-light btn-lg download-button"> Discussion Forum</button>
        </a>
      </div>

      <div class="col-lg-6">
        <img class="title-image" src="images/bitcoin.png" alt="bitcoin-logo">
      </div>

    </div>

  </div>

</section>


<!-- Features -->

<section class="white-section" id="features">

  <div class="container-fluid">

    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="feature-title">Easy to invest.</h3>
        <p>Invest now, you'll never regret it.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-rocket fa-4x"></i>
        <h3 class="feature-title">Lightning Speed Transactions</h3>
        <p>Crypto Exchanges can handle Millions of transactions everyday.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-lock fa-4x"></i>
        <h3 class="feature-title">Security</h3>
        <p>Exchanges investing in regular security audits to ensure a highly secured trading platform.</p>
      </div>
    </div>


  </div>
</section>


<!-- Testimonials or referrals of big personality or celebrities-->

<section class="colored-section" id="testimonials">

  <div id="testimonial-carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <h2 class="testimonial-text">"if I were not at Square or Twitter, I would be working on bitcoin."</h2>
        <img class="testimonial-image" src="images/jackdorsey.jfif" alt="jackdorsey">
        <em>Jack Dorsey,CEO of Twitter and Square</em>
      </div>
      <div class="carousel-item container-fluid">
        <h2 class="testimonial-text">"The true battle is between fiat & crypto. On balance, I support the latter."</h2>
        <img class="testimonial-image" src="images/elonmusk.jpg" alt="elonmusk">
        <em> Elon Musk,CEO at SpaceX and Tesla</em>
      </div>
    </div>
    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

</section>


<!-- Companies logo who follows bitcoin -->

<section class="colored-section" id="press">
  <div class="container-fluid">
    <h1 class="border-heading">List Of Major Companies Accepting And Adopting Cryptocurrencies</h1>
    <img class="press-logo" src="images/microsoft.png" alt="microsoft-logo">
    <img class="press-logo" src="images/tesla.png" alt="tesla-logo">
    <img class="press-logo apple" src="images/apple.png" alt="apple-logo">
    <img class="press-logo" src="images/paypal.png" alt="paypal-logo">
    <img class="press-logo bmw" src="images/bmw.png" alt="bmw-logo">
    <img class="press-logo" src="images/starbucks.png" alt="starbucks-logo">
    <img class="press-logo" src="images/square.png" alt="square-logo">
    <img class="press-logo bmw" src="images/mcdonalds.jpg" alt="mcdonalds-logo">
    <img class="press-logo" src="images/cocacola.png" alt="cocacola-logo">
    <img class="press-logo goldman" src="images/goldmansachs.png" alt="goldmansachs-logo">
  </div>
</section>



<!-- Call to Action  -->
<!-- some top crypto currencies in the world right now -->

<section class="colored-section" id="cta">

  <div class="container-fluid">
    <h1 class="border-heading">Some Top Currency in Crypto World </h1><br><br>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">

        <h2 style="color:black" class="featurette-heading">Rank#1 Bitcoin (BTC) <br><span class="text-muted">Market cap: Over $641 billion</span></h2>
        <p class="lead">Created in 2009 by someone under the Satoshi Nakamoto, Bitcoin (BTC) is the original cryptocurrency. As with most cryptocurrencies, BTC runs on a blockchain, or a ledger logging transactions distributed across a network of
          thousands of computers. Because additions to the distributed ledgers must be verified by solving a cryptographic puzzle, a process called proof of work, Bitcoin is kept secure and safe from fraudsters.
          <br><br>
          Bitcoin’s price has skyrocketed as it’s become a household name. Five years ago, you could buy a Bitcoin for about $500. As of June 2021, a single Bitcoin’s price was over $32,000. That’s growth of about 6,300%.
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="images/btc.png" alt="Bitcoin image" height="200rem" width="300rem">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 style="color:black" class="featurette-heading">Rank#2 Ethereum (ETH) <br><span class="text-muted">Market cap: Over $307 billion</span></h2>
        <p class="lead">Both a cryptocurrency and a blockchain platform, Ethereum is a favorite of program developers because of its potential applications, like so-called smart contracts that automatically execute when conditions are met and
          non-fungible tokens (NFTs).
          <br><br>
          Ethereum has also experienced tremendous growth. In just five years from june 2021, its price went from about $11 to over $2,500, increasingly roughly more than 22,000%.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="images/eth.png" alt="Ethereum image" height="200rem" width="300rem">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 style="color:black" class="featurette-heading">Rank#4 BinanceCoin (BNB) <br><span class="text-muted">Market cap: Over $56 billion</span></h2>
        <p class="lead">The Binance Coin is a form of cryptocurrency that you can use to trade and pay fees on Binance, one of the largest crypto exchanges in the world.
          Since its launch in 2017, Binance Coin has expanded past merely facilitating trades on Binance’s exchange platform. Now, it can be used for trading, payment processing or even booking travel arrangements. It can also be traded or exchanged
          for other forms of cryptocurrency, such as Ethereum or Bitcoin.
          <br><br>
          Its price in 2017 was just $0.10; by June 2021, it had risen to over $350, a gain of almost 350,000%.
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="images/bnb.png" alt="Binance coin image" height="200rem" width="300rem">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
</section>



<!-- rtc stands for realtime crypto -->
<h2 class="border-heading border-heading-realtime">Real-Time Cryptocurrencies Statistics</h2>

<section class="white-section" id="rtc">


  <a href="https://coinmoneycrypto-realtime.herokuapp.com/">
    <button class="btn btn-info btn-lg" type="submit" name="submit">CLICK HERE TO FETCH DATA</button>
  </a>




</section>




<!-- main exchanges in india-->

<section class="white-section" id="pricing">

  <h2 class="section-heading border-heading">Most popular cryptocurrency exchanges in India</h2>
  <h4>Several cryptocurrency exchanges have now come up in the country that enable buying, selling and trading in several cryptocurrencies.
    Cryptocurrency exchanges offer ease in trading by offering functionality through user-friendly applications or websites.</h4>

  <div class="row">

    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">

          <img class="rounded-circle" src="images/coinswitch.png" alt="coinswitch-logo" width="140" height="140">
          <h2>CoinSwitchKuber</h2>

        </div>
        <div class="card-body">
          <p class="pricing-paragraph">If you are new to the cryptocurrency market, then this exchange lets you start trading with just Rs 100. CoinSwitch Kuber offers more than 100 cryptocurrencies
            and has over 3 million users.This app is known for its simplicity and stability with regards to crypto trading in India.
            You can trade instantaneously once you finish setting up your account with the app.It ensures a smooth user experience, helping to gain more trust within Indian users
            .CoinSwitch was founded in 2017 as a global aggregator of cryptocurrencies and in June 2020 it launched its Indian cryptocurrency exchange CoinSwitch Kuber.
            Users can access aggregated liquidity of India’s main cryptocurrency exchanges to get the best deal.A clear interface offered by this app is what people love about it.
          </p>
          <p><a href="https://play.google.com/store/apps/details?id=com.coinswitch.kuber&referrer=utm_source=landingpc&utm_medium=landingpc">
              <button class="download-button btn btn-lg btn-dark" type="button"><i class="fab fa-google-play"></i> Download</button>
            </a>
            <a href="https://coinswitch.co/">
              <button class="download-button btn btn-lg btn-dark" type="button"><i class="fab fa-chrome"></i> Browse</button>
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <img class="rounded-circle" src="images/wazirx.png" alt="wazirx-logo" width="140" height="140">
          <h2>Wazirx</h2>
        </div>
        <div class="card-body">
          <p class="pricing-paragraph">
            Launched in 2017, WazirX was founded in Mumbai, India. However, after a few years, it was taken over by Binance Holdings – regarded as the best app to trade crypto by trading volume.
            Withdrawing and depositing INR-based capital is super easy and quick with WazirX.
            Another key feature of WazirX crypto exchange is its easy-to-use interface that helps a non-techie to navigate through the platform to buy and sell cryptos using a Live Open Order Book system.
            It also has integrated charting tools, helping people to analyze prices, trends, and historical data.
            What sets WazirX exchange apart from others is its integrated P2P transaction engine with the Fiat Gateway platform of Binance.
            What’s more? On WazirX, you can buy and sell as many as 150+ cryptocurrencies.
          </p>
          <p><a href="https://play.google.com/store/apps/details?id=com.wrx.wazirx&referrer=utm_source%3DWazirX%2520Desktop%26utm_medium%3DHome%26utm_term%3DDownload%2520App">
              <button class="download-button btn btn-lg btn-dark" type="button"><i class="fab fa-google-play"></i> Download</button>
            </a>
            <a href="https://wazirx.com/invite/rc7hyk9q">
              <button class="download-button btn btn-lg btn-dark" type="button"><i class="fab fa-chrome"></i> Browse</button>
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="pricing-column col-lg-4">
      <div class="card">
        <div class="card-header">
          <img class="rounded-circle" src="images/coindcx.png" alt="coinDcx-logo" width="140" height="140">
          <h2>coinDCX</h2>
        </div>
        <div class="card-body">

          <p class="pricing-paragraph">
            The Mumbai based cryptocurrency exchange, CoinDCX is one of the popular options with crypto investors in India.

            One of the growing crypto startups in India, this crypto exchange app is known for its security features.
            Further, all of them are supported by cutting-edge security processes and insurance protection.
            This platform has launched its product – Insta, which enables fiat-crypto buying and selling.
            The product has also grown tremendously around 38% month-on-month between 2018-2020.
            The exchange claims to have over one lakh active users and offers more than 200 cryptocurrencies.
            It is especially beneficial for investors who want to trade directly from INR to BTC on the platform.
          </p>
          <p><a href="https://play.google.com/store/apps/details?id=com.coindcx&hl=en&utm_source=homepage&utm_medium=Fold10&utm_campaign=rebranding">
              <button class="download-button btn btn-lg btn-dark" type="button"><i class="fab fa-google-play"></i> Download</button>
            </a>
            <a href="https://coindcx.com/">
              <button class="download-button btn btn-lg btn-dark" type="button"><i class="fab fa-chrome"></i> Browse</button>
            </a>
          </p>
        </div>
      </div>
    </div>

  </div>

</section>

<!-- frequently asked questions -->

<section class="white-section" id="faq">

  <h2 class="headingfaq border-heading">Frequently Asked Questions</h2>

  <div class="container py-3 faqClass">
    <div class="row">
      <div class="col-10 mx-auto">
        <div class="accordion" id="faqExample">
          <div class="card">
            <div class="card-header p-2" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Q: What is a Cryptocurrency?
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqExample">
              <div class="card-body">
                Cryptocurrencies are decentralised digital assets operating on blockchain technology. There are more than 5000 cryptocurrencies out there, Bitcoin being the first-ever cryptocurrency launched.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-2" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Q: Is Cryptocurrency Legal in India?
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
              <div class="card-body">
                No law in India makes buying or selling cryptocurrencies illegal.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-2" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Q. What is the Future of Cryptocurrency <span class="spanFaq">Trading in India?</span>
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
              <div class="card-body">
                Since 2020, Lakhs of Indians have dipped their toes into cryptocurrencies, and with the number going up every day, India looks exciting for the crypto revolution. The government is also actively trying to set up a regulatory framework
                for its smooth functioning, the recent MCA amendment being the first step.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-2" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Q. How to Buy Cryptocurrency in India?
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
              <div class="card-body">
                CoinSwitch Kuber/Wazirx/coinDCX/Zebpay and many more exchanges have simplified cryptocurrencies for Indians; you can download Android and iOS app to begin trading in cryptocurrencies with just ₹100
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-2" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Q. Which is the best cryptocurrency <span class="spanFaq">to trade in India?</span>
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqExample">
              <div class="card-body">
                Cryptocurrencies are valued based on the underlying project/vision they are attached to. The list of best cryptocurrencies is subjective and varies depending upon the potential you see in the underlying projects; hence do thorough
                research on any cryptocurrency before trading in it.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-2" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Q. What is cryptocurrency mining?
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqExample">
              <div class="card-body">
                Cryptocurrency mining is a process through which miners verify transactions on the blockchain and receive cryptocurrencies in exchange as rewards. It helps in the smooth sustenance of the network.
              </div>
            </div>


          </div>

        </div>
      </div>
      <!--/row-->
    </div>
    <!--container-->
</section>



<%- include('partials/footer') %>
